body { padding-top: 70px; padding-bottom: 20px; }

.navbar-kct { background-color: rgba(75, 75, 75, 0.85); }
.navbar-kct .navbar-brand, .navbar-kct .navbar-nav > li > a { color: #fff; }
.navbar-kct .navbar-brand:hover, .navbar-kct .navbar-nav > li > a:hover { color: #ccc; }

/*
 * Common
 */
h4 { margin-bottom: 5px; }
p.partwidth { max-width: 800px; }

/*
 * Front Page
 */
.post .date { color: #999; }
.post .title h2 { margin-top: 0; }

/*
 * Downloads Page
 */
.dl-section {
	margin-left: 30px;
}

/*
 * API Documentation
 */
.endpoint, .endpoint-section { margin-left: 50px; }

ul.params { list-style: none; }
ul.params .none { color: #999; }
ul.params .type { display: inline-block; color: #777; }
ul.params .name { display: inline-block; font-weight: bold; float: left; margin-right: 5px; }
ul.params .description { display: block; margin-bottom: 1em; }

@media (min-width: 768px) {
	ul.params li { display: table-row; }
	ul.params li > * { display: table-cell !important; padding-right: 10px; }
	ul.params li > *:last-child { padding-right: 0; }
	
	ul.params .type { font-size: 85%; }
	ul.params .name { float: none; }
}

ul.params.endpoint-section { padding-left: 0; }
